header{
  position: absolute;
  height: 150px;
  width: 100%;
  background-image:  linear-gradient(to top right, rgb(0,133,255), rgb(146,20,254));
}
header h1{
  margin-top:37px;
  text-align: center;
  color: white;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#axis{
  position: absolute;
  top: 30vh;
  left: 5vh;
  box-shadow: 10px -10px 20px 0px rgb(221, 227, 244);
}
.red-dot {
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
}
#regressline{
  position: absolute;
  top: 30vh;
  left: 5vh;
}
#formContainer{
  position: relative;
  text-align: left;
  width: 120%;
  top: 330px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 0px rgb(208, 218, 244) ;
}
#r_squared{
  position: absolute;
  top: 200px;
}